<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.refugeesinfo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name="com.example.refugeesinfo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.refugeesinfo.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.example.refugeesinfo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.refugeesinfo.MainActivity" />
        </activity>
        <activity
            android:name="com.example.refugeesinfo.SelectOperationActivity"
            android:label="@string/title_activity_select_operation"
            android:parentActivityName="com.example.refugeesinfo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.refugeesinfo.MainActivity" />
        </activity>
        <activity
            android:name="com.example.refugeesinfo.OperationSyriaActivity"
            android:label="@string/title_activity_operation_syria"
            android:parentActivityName="com.example.refugeesinfo.SelectOperationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.refugeesinfo.SelectOperationActivity" />
        </activity>
        <activity
            android:name="com.example.refugeesinfo.PopStatsActivity"
            android:label="@string/title_activity_pop_stats"
            android:parentActivityName="com.example.refugeesinfo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.refugeesinfo.MainActivity" />
        </activity>
        <activity
            android:name="com.example.refugeesinfo.DBTestActivity"
            android:label="@string/title_activity_dbtest"
            android:parentActivityName="com.example.refugeesinfo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.refugeesinfo.MainActivity" />
        </activity>
        <activity
            android:name="com.example.refugeesinfo.CountryDetails"
            android:label="@string/title_activity_country_details"
            android:parentActivityName="com.example.refugeesinfo.DBTestActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.refugeesinfo.DBTestActivity" />
        </activity>
    </application>

</manifest>
